Flask==2.2.2
Flask_Babel==2.0.0
Flask_Login==0.6.2
flask_sqlalchemy==3.1.1
Flask_WTF==1.0.1
ipython==8.15.0
ipywidgets==8.0.4
matplotlib==3.7.2
mlxtend==0.23.0
numpy==1.25.2
pandas==2.0.3
pybaselines==1.0.0
scikit_learn==1.2.2
scipy==1.11.4
seaborn==0.13.0
shap==0.44.0
SQLAlchemy==1.4.39
tqdm==4.66.1
Werkzeug==2.2.3
WTForms==2.3.3
