{% extends 'base.html' %}

{% block content %}
    <div class="container mt-3 content">

        {% include 'includes/backToStart.html' %}
        {% include 'includes/errors.html' %}
        <div class="row">
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-start">
                <h1>{{_('Übersicht')}} <b><em>{{ _('Raman Banden')}}</em></b></h1>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-start justify-content-md-end">
                <a type="button" class="btn btn-outline-success btn-sm" href="{{ url_for('ramanband.new') }}"><i
                        class="bi bi-plus-lg"></i>
                    {{ _('Neue Bande erstellen')}}
                </a>
            </div>
        </div>
        {% if bands|length<=0 %}
            <h4>{{ _('Es sind noch keine Banden hinterlegt')}}</h4>
        {% else %}
            <table class="table table-fixed">
                <thead>
                <tr>
                    <th scope="col">{{ _('Wellenzahl [cm<sup>-1</sup>]')}}</th>
                    <th>{{ _('Schwingungsart') }}</th>
                    <th>{{ _('Kategorie') }}</th>
                    <th>{{ _('Intensität')}}</th>
                    <th>{{ _('DOI') }}</th>
                    <th>{{ _('Aktionen') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for band in bands %}

                    <tr>
                        <td>{{ band.wavenumber }}</td>
                        <td>{{ band.bandAssignment.bandType }}</td>
                        <td>{{ band.bandAssignment.bandCategory.name }}</td>
                        <td>{{ band.bandAssignment.bandAmplitude.description }}</td>
                        <td><a href="{{ band.bandAssignment.doiLink }}" target="_blank">{{_('Öffnen')}}</a></td>
                        <td>
                            <a type="button" class="btn btn-outline-primary btn-sm my-1"
                               href="{{ url_for('ramanband.edit', band_id=band.id) }}"><i class="bi bi-pencil-fill"></i>
                                {{ _('Bearbeiten') }}</a>
                            <a type="button" class="btn btn-outline-danger btn-sm my-1"
                               href="{{ url_for('ramanband.delete', band_id=band.id) }}"><i
                                    class="bi bi-trash-fill"></i>
                                {{ _('Löschen')}}</a>
                        </td>
                    </tr>

                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}