{% extends 'base.html' %}

{% block content %}
    <div class="container mt-3 content">

        <a class="icon-link icon-link-hover mb-2"
           style="--bs-icon-link-transform: translate3d(-.125rem, 0, 0); --bs-link-color-rgb: 97,100,102;"
           href="{{ url_for('ramanband.index') }}">
            <i class="bi bi-arrow-left mb-auto"></i>
            Zurück
        </a>
        <h1>Erstellen <b><em>Raman-Bande</em></b></h1>
        {% include 'includes/errors.html' %}
        <form method="POST" novalidate>
            {{ form.csrf_token }}
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    {{ form.wavenumber.label(class="form-label") }}
                    {{ form.wavenumber(class="form-control", placeholder="1260") }}
                    {% if form.wavenumber.errors %}
                        <div class="alert alert-danger my-3" role="alert">
                            {% for error in form.wavenumber.errors %}
                                <p class="mb-0">
                                    {{ error }}
                                </p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="col-12 col-md-6 mb-3">
                    {{ form.bandType.label(class="form-label") }}
                    {{ form.bandType(class="form-control", placeholder="CH2 Schwingung") }}
                    {% if form.bandType.errors %}
                        <div class="alert alert-danger my-3" role="alert">
                            {% for error in form.bandType.errors %}
                                <p class="mb-0">
                                    {{ error }}
                                </p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    {{ form.bandCategory.label(class="form-label") }}
                    {{ form.bandCategory(class="form-control", placeholder="1260") }}
                    {% if form.bandCategory.errors %}
                        <div class="alert alert-danger my-3" role="alert">
                            {% for error in form.bandCategory.errors %}
                                <p class="mb-0">
                                    {{ error }}
                                </p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="col-12 col-md-6 mb-3">
                    {{ form.bandAmplitude.label(class="form-label") }}
                    {{ form.bandAmplitude(class="form-control", placeholder="CH2 Schwingung") }}
                    {% if form.bandAmplitude.errors %}
                        <div class="alert alert-danger my-3" role="alert">
                            {% for error in form.bandAmplitude.errors %}
                                <p class="mb-0">
                                    {{ error }}
                                </p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    {{ form.author.label(class="form-label") }}
                    {{ form.author(class="form-control", placeholder="Max Mustermann") }}
                    {% if form.author.errors %}
                        <div class="alert alert-danger my-3" role="alert">
                            {% for error in form.author.errors %}
                                <p class="mb-0">
                                    {{ error }}
                                </p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="col-12 col-md-6 mb-3">
                    {{ form.doiLink.label(class="form-label") }}
                    {{ form.doiLink(class="form-control", placeholder=" https://doi.org/10.1080/14729679.2018.1507831   ") }}
                    {% if form.doiLink.errors %}
                        <div class="alert alert-danger my-3" role="alert">
                            {% for error in form.doiLink.errors %}
                                <p class="mb-0">
                                    {{ error }}
                                </p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
                    <button type="submit" class="btn btn-primary">Erstellen</button>


        </form>
    </div>
{% endblock %}
