{% extends 'base.html' %}

{% block content %}
    <div class="container mt-3 content">

        {% include 'includes/backToStart.html' %}
        {% include 'includes/errors.html' %}
        <div class="row">
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-start">
                <h1>Dashboard <b><em>Admin</em></b></h1>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-end">
                <a type="button" class="btn btn-outline-success btn-sm"
                   href="{{ url_for('admin.new') }}"><i class="bi bi-plus-lg"></i> {{ _('Admin erstellen')}}</a>
            </div>
        </div>
        <h4>{{ _('Zu aktivierende Benutzer')}}</h4>
        {% if users|rejectattr("active")|list|length<=0 %}
            <p>{{ _('Es sind keine inaktiven Benutzer vorhanden')}}</p>
        {% else %}

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">{{ _('Vorname') }}</th>
                    <th>{{ _('Nachname') }}</th>
                    <th>{{ _('E-Mail') }}</th>
                    <th>{{ _('Status') }}</th>
                    <th>{{ _('Aktionen') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users|rejectattr("active") %}
                    <tr>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ _('Aktiv') if user.active else _('Inaktiv') }}</td>
                        <td>
                            <a type="button" class="btn btn-outline-primary btn-sm"
                               href="{{ url_for('admin.activate', user_id=user.id) }}"><i
                                    class="bi bi-check-square-fill"></i>
                                {{ _('Aktivieren') }}</a>
                            <a type="button" class="btn btn-outline-danger btn-sm"
                               href="{{ url_for('admin.delete', user_id=user.id) }}"><i class="bi bi-trash-fill"></i>
                                {{ _('Löschen')}}</a>
                        </td>
                    </tr>

                {% endfor %}
            </table>
        {% endif %}
        <h4>{{ _('Bereits aktive Benutzer')}}</h4>
        {% if users|selectattr("active")|list|length<=0 %}
            <p>{{ _('Es sind keine aktiven Benutzer vorhanden')}}</p>
        {% else %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">{{ _('Vorname') }}</th>
                    <th>{{ _('Nachname') }}</th>
                    <th>{{ _('E-Mail') }}</th>
                    <th>{{ _('Benutzer-Gruppe') }}</th>
                    <th>{{ _('Status') }}</th>
                    <th>{{ _('Aktionen') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users|selectattr("active") %}
                    <tr>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% for g in groups %}
                                {% if g.id == user.group_id %}
                                    {{ g.name }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ _('Aktiv') if user.active else _('Inaktiv') }}</td>
                        <td>
                            <a type="button" class="btn btn-outline-primary btn-sm"
                               href="{{ url_for('admin.deactivate', user_id=user.id) }}"><i
                                    class="bi bi-x-circle-fill"></i>
                                {{ _('Deaktivieren') }}</a>
                            <a type="button" class="btn btn-outline-danger btn-sm"
                               href="{{ url_for('admin.delete', user_id=user.id) }}"><i class="bi bi-trash-fill"></i>
                                {{ _('Löschen')}}</a>
                        </td>
                    </tr>

                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}